<h3>pdfmake</h3>
<button (click)="pdfMake()">PDF MAKE</button>

<h3>jsPDF</h3>

<h5>Table</h5>
<button (click)="jsPDFTable()">jsPDF Table</button>

<h5>Html</h5>
<button (click)="jsPDFHtml()">jsPDF Html</button>

<h5>Canvas</h5>
<button (click)="jsPDFWithCanvas()">jsPDF canvas</button>

<br><br>
<table id="table" #table>
  <tr>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
    <th>Header 4</th>
  </tr>
  <tr *ngFor="let value of values">
    <td>{{value.Header1}}</td>
    <td>{{value.Header2}}</td>
    <td>{{value.Header3}}</td>
    <td>{{value.Header4}}</td>    
  </tr>
</table>